*.tex linguist-detectable=false
android/ linguist-vendored=true
ios/ linguist-vendored=true
linux/ linguist-vendored=true
macos/ linguist-vendored=true
windows/ linguist-vendored=true
web/ linguist-vendored=true